name: Snapshot Release

on:
  workflow_dispatch:

jobs:
  snapshot:
    name: Snapshot Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - uses: pnpm/action-setup@v4
        with:
          run_install: |
            - recursive: true
              args: [--frozen-lockfile]

      - name: Build workspace packages
        run: pnpm run build

      - name: Run type checking
        run: pnpm run typecheck

      - name: Run linting
        run: pnpm run lint

      - name: Create Snapshot Release
        run: |
          npm run version-packages --snapshot "${{ github.ref_name }}"
          echo '---'
          echo 'Detected Changes:'
          git diff
          echo '---'
          npm run release --tag "${{ github.ref_name }}" --no-git-tag
